.breadcrumb {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  margin-right: 5px;
  text-transform: uppercase;
}

.breadcrumb-item + .breadcrumb-item:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

.breadcrumb-item:last-child {
  font-weight: bold;
}

.breadcrumb-item:first-child a {
  text-decoration: none;
  color: black;
}
