.constructor-details {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.constructor-stats {
  flex-basis: 50%;
  display: flex;
}

.constructor-stats__table {
  max-width: 500px;
  margin-top: 0;
}

.constructor-stats__table tr {
  background-color: inherit;
}

.constructor-stats__table td {
  padding: 8px 0;
  font-weight: normal;
}

.constructor-stats__table td:first-child {
  font-weight: bold;
}

.constructor-drivers {
  flex-basis: 50%;
  display: flex;
}
.constructor-drivers__1,
.constructor-drivers__2 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.driverName {
  font-size: 20px;
  font-weight: bold;
}

.driverImg {
  background-color: lightgoldenrodyellow;
  width: 300px;
  height: 200px;
  margin-bottom: 15px;
}
