.driver-details {
  display: flex;
  width: 100%;
}

.driver-profile {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.driver-stats {
  flex-basis: 50%;
}

.driver-stats__table {
  max-width: 500px;
}

.driver-stats__table tr {
  background-color: inherit;
}

.driver-stats__table td {
  padding: 8px 0;
  font-weight: normal;
}

.driver-stats__table td:first-child {
  font-weight: bold;
}
